
* {
    box-sizing: border-box; /* Ajuda a manter o tamanho esperado das boxes */
    margin: 0;
    padding: 0;
}
body > header{ /* afeta apenas o header filho direto de body*/
    background-color: rgb(255, 0, 0);
    padding : 16px 16px ;/* topo e laterais*/
    color:white;
}

header .container nav a{
    color: white ;
    padding: 5px;
    text-decoration: none;
}

header .container nav a:hover{ /*aplica efeito ao passar o mouse sobre*/
    text-decoration: underline;
}


header .container{
    display: flex;
    align-items: center;
    justify-content: space-between; /*cria o maior espaço possivel entre itens*/
}
.container {
width: 1349px;
margin: 0 auto;
}

section .artigos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artigos article img{
    height: 300px;
}

.artigos article {
    width: 30%;
}

section {
    padding: 16px;
    background-color:white;
}

section h3, .artigos article{
    margin-bottom: 20px;
}

.artigos h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

.artigos article a{
    background-color: red;
    color: white;
    padding: 5px;
    display: inline-block;
}

.artigos article a:hover{ /*aplica efeito ao passar mouse sobre*/
    text-decoration: underline;
}

.artigos article p,
.artigos article a{
    font-family: arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    font-size: 15px;
}

.artigos article h4{
    font-size: 19px;
    font-family: arial, sans-serif;
}

.container h3{
    font-size: 23px;
    font-family: arial, sans-serif;
    margin-top: 30px;
}

#secao1{
    background-color: rgba(255,0,0,0.05);
}

#secao2{
    background-color: rgba(255,0,0,0.05);
}